 /*Global CSS*/

html {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 
   'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
}

.content {
    /* max-width: 75%; */
    /* margin: 40px auto; */
    padding: 20px;
    
 }

 h1 {
   font-weight: 600 !important;
 }

 p { 
   font-size: 20px;
 }

 
 /*Login form*/
 .loginContainer {
   text-align: center;
 }

 .loginForm {
   padding: 3%;
   margin: 2% 0%;
   /* border: 1px solid #8e8e8e; */
   border-radius: 10px;
   box-shadow: 2px 2px 50px #00000023
 }

/* Responsiveness */
 @media screen and (min-width:1085px) {
    .content{
        margin: 1%;
    }

    .loginForm{
      margin: 2% 30%;
    }
}

@media screen and (min-height:1000px) {
   .content {
      height: 100%;
   }

   .loginForm{
      margin: 5% 20%;
    }
}